VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=YOUR_PROJECT_ID
VITE_APPWRITE_DATABASE_ID=YOUR_DATABASE_ID
VITE_APPWRITE_PROBLEMS_COLLECTION_ID=YOUR_PROBLEMS_COLLECTION_ID
VITE_APPWRITE_NOTES_COLLECTION_ID=YOUR_NOTES_COLLECTION_ID
VITE_APPWRITE_BUCKET_ID=YOUR_BUCKET_ID

# Admin Key required ONLY for the setup-appwrite.js script
APPWRITE_API_KEY=YOUR_API_KEY
